.row img {
    object-fit: fill;
}

.row {
    padding: 2% !important;
   
}

.projectContent{
    width:100%;
    height:100%;
    word-wrap: break-word;
    background-color: rgba(173, 173, 173, 0.096);
    padding: 2%;
    margin:2%;
    border-radius: 1em;

}

