{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static wagtailuserbar %}
{% block body_class %}template-rootpage{% endblock %}

{% comment %} {% load static wagtailuserbar %} {% endcomment %}

#navigation up top override
 {% block navBarlinks %}
 {% endblock %}

{% load staticfiles %}

{% block navbrandLink %}
{% url 'home' %}
{% endblock %}

{% block extraJS %}
<script src="{% static 'js/time.js' %}"></script>
{% endblock %}

{% block wagtailblock %}
{% wagtailuserbar %}
{% endblock %}


{% block customCSS %}
{% endblock %}
   

