.navbar-dark-custom{
  
}

.navbar-dark-custom.light{
  background-color: rgba(90, 89, 89, 0.3);
}
.navbar-dark-custom.solid{
  background-color: rgba(90, 89, 89, 1.0);
}

.navbar-dark-custom .logIn , .navbar-brand, .nav-link {
  color: white;
}

.navbar-dark-custom  .navbar-brand, .nav-link {
  color: white;
}
.navbar-dark-custom .logIn  a:hover {
  text-decoration: underline !important;
  color:  rgb(24, 168, 187) !important;
} 
.navbar-dark-custom.light  .dropdown-item {
  background-color: rgba(255, 255, 255, 0.3);
  
}

.navbar-custom .logIn a:hover{
  text-decoration: underline !important;
  color: white !important;
}


.navbar { 
 
    font-size: large !important;      /* Just because I am using big size font */
    
  }
  
  .navbar ul li > a:hover{
    color: white;
  }
  
  .navbar-brand:hover {
    color: white;
  }
  
  
  #navbarTop{
    transition: all 1.0s !important;  
  }
  #Dbrand{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

  .navbar-toggler-icon{
    background-image: url("/media/img/navbar_img/down-arrow.svg")  !important;
    
  }


  .navbar-custom  .navbar-toggler {
  
    border-style: solid;
    border-width: 1px;
    border-color: rgb(24, 168, 187);
    height: 3em !important;
    width: 3em !important;
  }
  .navbar-toggle .icon-bar{
    width: 3em !important;
    height:3em !important;
    background-color: rgba(17, 17, 17, 0.548) !important;
  }
  .navbar-wrapper {
    
    position:relative;
  }
  .carousel {
    position:absolute;
    top:0;
  }
  
  
  
  .navbar-custom * {
    color:rgb(24, 168, 187) !important;
   
  }
  .navbar-custom {
    border-bottom: 1px solid rgb(24, 168, 187) !important;
   
  }
  @media only screen and (max-width: 480px) {
    .navbar-brand{
      font-size: 1em;
    }
  }