
{% extends "base.html" %}

{% block title %}
{{block.super}}About
{% endblock %}

{% block content %}
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">About
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'home'%}">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6">
      <h2>About My Personal Site PersonalSite</h2>
      <p>This Is My Personal Site Powred By Python's Django, HTML, CSS, Boostrap, NGNIX, Gunicorn, And JQuery  </p>
      
    </div>
  </div>
</div>
{% endblock %}