{% load staticfiles %}
<section class = "sectionPage" id = "aboutPage"  >
    <div class="container-fluid shadow p-3 mb-5 bg-white rounded " >

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="text-center text-uppercase ">About</h1>
        <hr class="star-dark mb-5">
      
        <!-- Intro Content -->
        <div class="row " >
          <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" id="imgAbout" src="{% static 'about/webdev.gif' %}"  alt="">
          </div>
          <div class="col-lg-6" id= "SubAboutSection">
            <h2>About  Personal</h2>
            <p><strong>
                Starting  As A Small Project Single Page. Personal, I Like To Call
                 Showcase Aspects Of Me From  My Love 
                C/C++ To Artificial Intelligence To My Love Of Python to 
                My Ventures Into Web Development.  Personal Is Supported 
                By Django On Our ServerSide. Next, We Have HTML, JavaScript, CSS 
                 Powering Our Front End. Finally, Hosted In The Cloud With The 
                 Help Of Google Cloud And Ngnix
                </strong>  
            </p>
          </div>
        </div>
      </div>

</section>