<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      {% block title %}
      Devano's Personal-
      {% endblock %}
    </title>
    
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.svg' %}"/>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->

    <nav id = 'navbarTop' class="navbar justify-content-center fixed-top navbar-expand-lg  fixed-top navbar-custom">
      <div class="container">
        <a class="navbar-brand  text-xl-left font-weight-bold js-scroll-trigger" href="#page-top">
            <img id= "Dbrand" src="{% static 'img/logo/naviconBrand.svg' %}" width="50" height="50" alt="">
          Devano's Personal
        </a> <!---Header Funciton-->

        <button class="navbar-toggler navbar-toggler-right navbar-dark" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link btn  js-scroll-trigger font-weight-bold" href="#aboutPage">About Me</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn font-weight-bold" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                    Projects
                  </a>
              
                <div class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item js-scroll-trigger" href="#projectSection">Quick Look</a>
                    <a class="dropdown-item " href="{% url 'allProjects' pageNum=1 %}">All Projects</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link btn  font-weight-bold" data-toggle="modal" data-target="#exampleModal" href="">Contact</a>
            </li>
           
            <li class="nav-item dropdown"> <!--Blog Header Here-->
              <a class="nav-link dropdown-toggle btn font-weight-bold" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="">Tech Blog</a>
                <a class="dropdown-item" href="">CS Blog</a>
                
              </div>
            </li>
            
           
          </ul>
        
        </div>
      </div>
    </nav>

    {% block header %}
        
    {% endblock %}

    <!-- Page Content -->
    {% block content %}
    {% endblock %}
    <!-- /.container -->

  
    <!-- Bootstrap core JavaScript CustomScripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/time.js' %}"></script>

  </body>

</html>
