<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
      {% block title %}
      Devano's Personal-
      {% endblock %}
    </title>
    
    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"/>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand btn-dark js-scroll-trigger" href="#page-top">Devano's Domain</a> <!---Header Funciton-->

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link btn btn-dark js-scroll-trigger " href="#aboutPage">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark js-scroll-trigger" href="#projectSection">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark " href="#">Option</a>
              </li>
            <li class="nav-item">
              <a class="nav-link btn btn-dark js-scroll-trigger" href="#contactPage">Contact</a>
            </li>
           
            <li class="nav-item dropdown"> <!--Blog Header Here-->
              <a class="nav-link dropdown-toggle btn btn-dark" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog
              </a>
              <div class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdownBlog">
                <a class="dropdown-item" href="blog-home-1.html">Tech Blog</a>
                <a class="dropdown-item" href="blog-home-2.html">CS Blog</a>
                <a class="dropdown-item" href="blog-post.html">AnythingElse I can think ofs</a>
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    {% block header %}
        
    {% endblock %}

    <!-- Page Content -->
    {% block content %}
    {% endblock %}
    <!-- /.container -->

    <!-- Footer -->
    <!---<section class = "sectionPage"  >
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Devano Brown 2019</p>
      </div>
    </footer>
    </section >-->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>

</html>
