.skill-icon{
    color: #444;
    display: inline-block;
    font-size: 4.0em;
    line-height: 36px;
    margin: 0.25em;
    transition: all 0.1s ease;
    text-align: center;
}

.skill-icon:hover{
    color: rgb(24, 168, 187);
}
