{% extends "base.html" %}


{% load staticfiles %}
{% block customCSS %}
<link href="{% static 'projects/css/quickProject.css' %}" rel="stylesheet">
<link href="{% static 'contact/css/contact.css' %}" rel="stylesheet">
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{{block.super}} Personal's Home
{% endblock %}

{% block extraJS %}
<script src="{% static 'js/scrolling-nav.js' %}"></script>
<script src="{% static 'js/time.js' %}"></script>
<script src="{% static 'contact/js/contact.js' %}"></script>
{% endblock %}




{% block header%}
<section  class="headerCarousel" id="headerSection">
   
      <div id="carouselHeader" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHeader" data-slide-to="1"></li>
       </ol>
        <div class="carousel-inner viewables" role="listbox">
         
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active">
            <img 
            {% if latest_project.project_image %}
              src="{{latest_project.project_image.url}}"
            {% endif %}
            class ="img-fluid"  alt="">
            <a href="">
              <div class="carousel-caption">

                  <h1>{{latest_project.projectName}}</h1>
                  <p>{{latest_project.description|truncatewords:"10"}}</p>
            
              </div>
            </a>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({% static 'img/img.png' %})">
            <div class="carousel-caption">
              <h2>Latest Blog Post</h2>
              <p>This is a description for lastest Blog Post</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          
        </div>

        <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
          <div class="nav-icon-out">
            <h1 class="carousel-control-prev-icon carousel-control-icon-custom" ></h1>
          </div>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
        <div class="nav-icon-out">
          <h1 class="carousel-control-next-icon carousel-control-icon-custom" ></h1>
        </div>
          <span class="sr-only">Next</span>
        </a>
      
      </div>
</section>
{% endblock%}

{% block content %}

{% include "about/about.html" %}
<!----SectionProjects-Block -->
{% include "projects/quickprojectsection.html" %}
<!----SectionProjects-EndBlock -->
<!----Section Contact--->
{% include "contact/contact.html" %}
<!----SectionProjects-EndBlock -->
<!---
  --->

{% endblock %}
