{% extends "ProjectUser/baseUser.html" %}

{% block title %}
{{block.super}} Personal's LogIn
{% endblock %}

{% block content %}
{% block navbrandLink %}
             "#page-top"
             {% endblock %}
<section class="sectionPage" id="sectionLogin">
  <div class="container-fluid addCustom shadow p-3 mb-5 bg-white rounded">
    <form name="login" id="loginForm" method="post">
        {% csrf_token %}
        <div id="messages">
          {{ form.non_field_errors }}
        </div> <!--Message Message SenT For Denied-->
        <div class="form-row form-group" > 
            Email Address/{{ form.username.label_tag }}
            {{form.username}}
        </div>
        <div class="form-row form-group">
          {{ form.password.label_tag }}
          {{form.password}}
        </div>
         
          <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        
        
      </form>
  </div>
      
</section>
    <!-- /.container -->
{% endblock %}