.btn-primary{
    background-color: rgb(24, 168, 187);
    border-color: rgb(24, 168, 187);
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color:  rgba(24, 168, 187, 0.356);
    border-color:  rgb(24, 168, 187,0.356);
  } 
  .btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.50rem;
    line-height: 1.6;
    border-radius: .3rem;
  }
  .btn-outline-primary {
    color: rgb(24, 168, 187);
    background-color: transparent;
    background-image: none;
    border-color: rgb(24, 168, 187);
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(24, 168, 187);
    border-color: rgb(24, 168, 187);
  }