.ErrorBox{
  border: 1px solid red;
  border-radius: 5px;
  padding: 2%;
}

.SucessBox{
  border: 1px solid green;
  border-radius: 5px;
  padding: 2%;
}

.icon-flex-grid {
  display: flex;
  list-style-type: none ;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
  align-items: flex-start;
  padding: 0;
  margin:0;
  height:50%;
}

.icon-flex-grid  > li {
  width: 50%;
  height:25%;
  
  margin: 1em;
}

.icon-flex-grid  > li > a {
  font-size: 5em;
  color: white;
  
}
.outterContactIcon{
  align-items: center;
  justify-content: center;
}

.icon-flex-grid  > li > a:hover{
  color: rgb(24, 168, 187);
  
}
#messages ul {
  list-style: none;
}

#contactPage hr.star-dark {
  border-color: white;
}


#contactPage hr.star-dark:after {
  color: white;
  background-color: #1BCFDA;
  content: "\f2bb";
  top: -.4em;
  font-size: 3em;
}

#contactPage{
  background-color: #1BCFDA;
  color: white;
}
.contactInfoSubSection{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.3em;
}

.contactInfo{
  font-size: 1.8em;
  line-height: 2.5em;
  height: 50%;
}




