
 body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  line-height: 2em;
  /* background-color: rgba(24, 168, 187, 0.096); */
}
 

.sectionPage {

  padding-top: 5%;
  padding-right: 1%;
  padding-bottom: 5%;
  padding-left: 1%;
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  margin: 0 auto !important;
}



.row{
    overflow: hidden; 
}





.navi-outline {
  border-spacing: 15px !important;
  border-radius: 1px !important;
  border-style: solid !important;
  border-width :1px !important;
  border-color:rgb(24, 168, 187) !important;
}

.navbar > a:hover  {
  color: rgb(255, 255, 255);
  
}


.dropdown:hover .dropdown-menu {
 
  /* display: block; */
 
}


.modal-body *{
  display: block;
  text-align: center;
  line-height: 150%;

}

.breadcrumb{
  background-color: rgba(0, 0, 0, 0);
}

/* animations  */






.bootstrap-select{
  overflow: visible !important;
  z-index:999 !important;
}

.row{
   overflow: visible !important;
  z-index:999 !important;
}

.footer {
  font-size: 1.5em;
}

