.card:hover{

    box-shadow: 0px 0 10px rgba(81, 203, 238, 1);
   
    
  }




.customCol{
  padding:1%;
}

.card-top img{
  object-fit: fill;
  height: 100%;
  width: 100%;
}


.ProjectRow{
  padding: 2%;
}

.innerBody{
  padding: 2%;
}
@media (min-width: 1200px) {
  
  .card-body {
    padding: 0px;
    max-height:  0 !important;
    overflow: hidden !important;
    transition: max-height 1.5s !important;  
    /* visibility: hidden; */
  }
  .card-top{
    height:40vh;
  }
  .card:hover .card-body{
    /* visibility: visible; */
    max-height: 1000px !important;
  }
  
}
#projectSection hr.star-dark {
  /* border-color: white; */
}


#projectSection hr.star-dark:after {
  /* color: white; */
  /* background-color: rgb(53, 185, 147); */
  content: "\f542";
  top:-.4em;
  font-size: 3em;
}










.card-title a {
  color: black;
}





.ErrorBox{
  border: 1px solid red;
  border-radius: 5px;
  padding: 2%;
}

.SucessBox{
  border: 1px solid green;
  border-radius: 5px;
  padding: 2%;
}

.icon-flex-grid {
  display: flex;
  list-style-type: none ;
  margin-top: 25%;
  width: 100%;
  justify-content: center;
}

.icon-flex-grid  > li {
  width: 50%;
  height:25%;
  
  margin: 1em;
}

.icon-flex-grid  > li > a {
  font-size: 5em;
  color: #444;
  
}
.outterContactIcon{
  align-items: center;
  justify-content: center;
}

.icon-flex-grid  > li > a:hover{
  color: rgb(24, 168, 187);
  
}
#messages ul {
  list-style: none;
}

#contactPage hr.star-dark {
  /* border-color: white; */
}


#contactPage hr.star-dark:after {
  /* color: white; */
  /* background-color: rgb(53, 185, 147); */
  content: "\f2bb";
  top: -.4em;
  font-size: 3em;
}



.carousel-control-icon-custom{
    width: 100%;
    height: 100%;
}
.nav-icon-out{
    height:5em;
    width: 5em;
    padding:1em;
    border-radius: 50%;
    border: 0.1em solid rgb(24, 168, 187) ;
    transition: all 0.5s;
}

.nav-icon-out:hover{
    background-color: rgb(24, 168, 187) ;
    position: relative;
    top: -0.5em;
}


.headerCarousel{

  
    width: 100vw;
    height: 100vh;
    border-style: solid;
    /* border-width: 0.5em; 
    border-color: rgb(24, 168, 187); */
    
    
  }
  
  .carousel-item{
  
    width: 100vw;
    height: 100vh;
    
  
    
  }
  .carousel-inner{
    width: 100vw;
    height: 100vh;
  }
  
  .textOverlay{
    
      color:#fff;
      position:absolute;
      z-index:12;
      top:50%;
      left:0%;
      width:100%;
      text-align:center;
      background-color:rgb(24, 168, 187, 0.2);
  }
  
  
  @media only screen and (max-width: 768px){
    .navbar-collapse{
      background-color:rgb(24, 168, 187, 0.2);
    }
  }
  .carousel-img-overlay {
    /* position: relative; */
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }
  
    
    
  
  
  .carousel-caption {
      min-width: 100%;
      width:100%;
      left: 0;
      padding: 5%;
  }
  .imageContainer{
    position: relative;
    width : 100%;
    height:100%;
  }

  .carousel-item img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: fill;
  }
  
  .imageContainer:after{
    content: "";
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
  }
  
  
  

.skill-icon{
    color: white;
    display: inline-block;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0.25em;
    transition: all 0.1s ease;
    text-align: center;
}

.skill-icon:hover{
    color: rgb(24, 168, 187);
}
.contactInfo{
    font-size: 2.5em;
    line-height: 1.5em;
    
}

.aboutImage{
    height: 100%;
    width: 100%;
    border-radius: 1em;
}

.aboutImage img{
    object-fit: fill;
    width:100%;
    height:100%;
}

#aboutPage{
    background-color: rgb(53, 185, 147);
    color: white;
}

#aboutPage hr.star-dark {
    border-color: white;
}


#aboutPage hr.star-dark:after {
    color: white;
    background-color: rgb(53, 185, 147);
    font-size: 3em;
}

